<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>HiH e-learning platform</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="static/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                   
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
       {% include './dashboard/navabar.html' %}
                <!-- END X-NAVIGATION VERTICAL -->                    
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Forms Stuff</a></li>
                    <li class="active">WYSIWYG Editors</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span>Lecture Content Creator</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                    
                    <div class="row">
                        <div class="col-md-12">

                            <div class="block">
                                <form action="/create_content" method="post">
                                        <label for="cslist">Select your course</label>
                                            <select name="course" id="cslist" class="form-control">
                                                {%for courses in course_lists%}
                                                <option>{{courses.Name}}</option>
                                                {%endfor%}
                                            </select>
                                            <br>
                                            <input name="topic" type="text" class="form-control" placeholder="Topic" />
                                            <br>
                                <textarea name="main" class="summernote">

                                </textarea>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Code Snippet</h3>                               
                                </div>
                                <div class="panel-body">
<textarea  id="codeEditor">
</textarea>
                                        <input type="submit" class="btn btn-info"  value="Create Lecture" />

</form>
                                
                                </div>
                            </div>

                        </div>                   
                    </div>
                
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="{{url_for('static',filename='audio/alert.mp3')}}" preload="auto"></audio>
        <audio id="audio-fail" src="{{url_for('static',filename='audio/alert.mp3')}}" preload="auto"></audio>
        <!-- END PRELOADS -->                         
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->
        
        <!-- THIS PAGE PLUGINS -->        
        <script type='text/javascript' src='static/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>        
        
        <script type="text/javascript" src="static/js/plugins/codemirror/codemirror.js"></script>        
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/xml/xml.js"></script>
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/javascript/javascript.js"></script>
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/css/css.js"></script>
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/clike/clike.js"></script>
        <script type='text/javascript' src="static/js/plugins/codemirror/mode/php/php.js"></script>    

        <script type="text/javascript" src="static/js/plugins/summernote/summernote.js"></script>
        <!-- END PAGE PLUGINS -->
        
        <!-- START TEMPLATE -->
        <script type="text/javascript" src="static/js/settings.js"></script>
        
        <script type="text/javascript" src="static/js/plugins.js"></script>        
        <script type="text/javascript" src="static/js/actions.js"></script>        
        <!-- END TEMPLATE -->
        
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: "application/x-httpd-php",
                indentUnit: 4,
                indentWithTabs: true,
                enterMode: "keep",
                tabMode: "shift"                                                
            });
            editor.setSize('100%','420px');
        </script>                
    <!-- END SCRIPTS -->
    </body>
</html>






